<!--begin::Input group-->
<div class="mb-10 fv-row" data-kt-password-meter="true">
  <!--begin::Wrapper-->
  <div class="mb-1">
    <!--begin::Label-->
    <label for="password" class="form-label required">Password</label>
    <!--end::Label-->
    <!--begin::Input wrapper-->
    <div class="position-relative mb-3">
      <input
        id="password"
        class="form-control mb-2"
        type="password"
        placeholder=""
        name="password"
        autocomplete="off"
      />
      <span
        class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
        data-kt-password-meter-control="visibility"
      >
        <i class="bi bi-eye-slash fs-2"></i>
        <i class="bi bi-eye fs-2 d-none"></i>
      </span>
    </div>
    <!--end::Input wrapper-->
  </div>
  <!--end::Wrapper-->
</div>
<!--end::Input group=-->