<div 
    class="toast hide" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true" 
    style={"position:fixed;left:50%;top:50%;transform:translate(-50%, -50%);"}>
    <div class="toast-header">
        <i class="bi bi-bell me-2"></i>
        <strong class="me-auto"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
</div>