---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="d-flex flex-column flex-column-fluid justify-content-center text-center p-10 py-lg-15"
  >
    <div class="pt-lg-10 mb-10">
      <h1 class="fw-bolder fs-2qx text-gray-800 mb-7">OOPS :( No internet connection 😬</h1>
    </div>
  </div>
</Layout>